@model IEnumerable<Investor.Model.PostPreview>
@using Investor.Model
@{
    ViewData["Title"] = ViewBag.CategoryUrl + " Page";
}
<div class="col-lg-8 pl-0 p-0 pr-lg-2">
    <div class="category-news  @Model.FirstOrDefault()?.Category.Url-news">
        <div class="body-block block-border-top @Model.FirstOrDefault()?.Category.Url-border-color mb-3">
            <h1 class="title-block">@ViewBag.CategoryName</h1>
            <div class="row category-news-body">
                @foreach (var post in Model)
                {
                    @Html.Partial("_PostPreviewTemplate", post)
                }
            </div>
        </div>
        <div class="wrapper-btn-more">
            <a href="/category/@Model.FirstOrDefault()?.Category.Url" data-category-name="@Model.FirstOrDefault()?.Category.Url" class="btn-more text-center dynamic">
                <span class="circle circle-@Model.FirstOrDefault()?.Category.Url-color">
                    <i class="icons icon-arrow-down"></i>
                </span>Більше новин
            </a>
        </div>
    </div>
</div>