@model Investor.Model.PostPreview
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.UrlService UrlService

@{
    var fullPostRelativePath = UrlService.GetPostRelativePath(Model);
    var publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
    var classStyle = Model.IsImportant ?? false ? "bold" : "";
}

<div class="item-last-news">
    <a bold href="@fullPostRelativePath" class="title-last-news @classStyle">
        @Model.Title
    </a>
    <span class="today-item-news @(ViewBag.IsBlog != null ? "blog" : "default")-today-color" >@publishedTime</span>
</div>