@using Investor.Model
@model PostPreview
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@inject Investor.Service.Utils.UrlService UrlService
    
@{
    var publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
    var fullPostRelativePath = UrlService.GetPostRelativePath(Model);
    var imagePath = ImagePath.GetImagePath(Model.Image, Model.PostId, "medium-");
}

<div class="item-search-result p-3 p-md-0">
    <div class="row">
        
        <div class="col-md-4 img-result">
            <a href="@fullPostRelativePath">
                <img src="~/@imagePath" class="img-fluid" />
            </a>
        </div>

        <div class="col-md-8">
            <a href="@fullPostRelativePath" class="title-news title-search">@Model.Title</a>
            <p class="text-news text-search">@Model.Description</p>
            <div class="footer-result">
                <span class="@Model.Category.Url-today-color">@Model.Category.Name</span>
                <span class="today-item-news default-today-color">@publishedTime</span>
            </div>
        </div>

    </div>
</div>