@using Investor.Model
@model BlogPreview
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@inject Investor.Service.Utils.UrlService UrlService

@{
    var publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
    var fullPostRelativePath = UrlService.GetPostRelativePath(Model);
    var accountImagePath = ImagePath.GetAccountImagePath(Model.Author.Photo);
    var postImagePath = ImagePath.GetImagePath(Model.Image, Model.PostId, "small-");
}

<div class="item-blog-news col-12">
    <div class="img-news">
        <a href="@fullPostRelativePath">
            <img src="~/@postImagePath" class="img-fluid rounded-circle">
        </a>
    </div>
    <div class="body-all-news">
        <a href="@fullPostRelativePath" class="title-news">@Model.Title</a>
        <p class="text-news brief-description">@Model.Description</p>
        <span class="blog-today-color data-blog">@publishedTime</span>
        <a href="/blog/blogerpage/@Model.Author.UserName" class="user-publish ml-3">
            <img src="~/@accountImagePath" class="photo-img rounded-circle" />@Model.Author.Name
        </a>
    </div>
</div>