@model Blog
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@inject Investor.Service.Interfaces.IStatisticsService StatisticsService
@inject Investor.Service.Utils.UrlService UrlService

@using Investor.Model

@{
    var publishedTime = Model.IsPublished ? PostPublicationDate.GetFormattedDate(Model.PublishedOn) : "Не опубліковано";
    var hitCount = StatisticsService.GetPostViewsCountByIdAsync(Model.PostId).Result;
    var postImagePath = ImagePath.GetImagePath(Model.Image, Model.PostId, "large-");
}

<h1 class="title-card-page">
    @Model.Title
</h1>
<div class="info-news">
    <a href="/blog/blogerpage/@Model.Author.UserName" class="data-post">@Model.Author.Surname @Model.Author.Name</a>
    <span class="data-post"><i class="icons icon-clock"></i> @publishedTime</span>
    <span class="reviews-post"><i class="icons icon-reviews"></i>@hitCount</span>
</div>

<div class="wrapper-social-share">
    <a onClick="openWinFb()" class="socail-share facebook-share">
        <i class="fa fa-facebook" aria-hidden="true"></i><span>Поширити</span>
    </a>
    <div class="twitter-share">
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text=Hello%20world"
           data-size="large">
            Tweet
        </a>
    </div>

    <div class="share-g">
        <div class="share-g-hidden"><div class="g-plus" data-action="share" data-height="24"></div></div>
        <div class="btn-g-plus"><i class="fa fa-google-plus" aria-hidden="true"></i><span>Поширити</span></div>
    </div> 

</div>

<div class="card-news-img mt-4 mb-5">
    <img src="~/@postImagePath" class="img-fluid" />
</div>
<div class="card-news-desc mb-5">
    @Html.Raw(Model.Article)
</div>
<ul class="wrapper-hashtag  mb-4">
    @foreach (Tag tag in Model.Tags)
    {
        <li><a asp-controller="Search" asp-action="SearchByTag" asp-route-tag="@tag.Name" class="item-hashtag">@tag.Name</a></li>
    }
</ul>

<div class="post-comment">
    <span class="title-block">Коментарі</span>
    <div class='fb-comments' data-href="http://@{@ViewBag.PathBase;}/post/@{@ViewBag.Post.PostId;}" data-num-posts='2' data-width='470'></div>
</div>
