@using Investor.Model
@using Investor.ViewModel
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@model Investor.Model.User
<section class="page-my-profile pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pl-0 p-0 pr-lg-2">
                @Html.Partial("_ProfilePersonalDataTemplate", ViewBag.PersonalData as UserPersonalDataViewModel)
                @Html.Partial("_ProfilePasswordChangeTemplate", ViewBag.PasswordChange as UserPasswordChangeViewModel)
                @Html.Partial("_ProfileDescriptionTemplate", ViewBag.Description as UserDescriptionViewModel)
            </div>
            <div class="col-lg-4 pl-lg-2  p-0 pr-0">
                <div class="block-border-top default-border-color body-preview">
                    <div id='img-upload' class="img-fluid preview-img rounded-circle mx-auto" style="background-image: url(/@ImagePath.GetAccountImagePath(Model.Photo))" />
                </div>
                <h4 class="preview-name text-center"> <span class="input-value-name">@Model.Name</span> <span class="input-value-lastname">@Model.Surname</span></h4>
                <p class="input-value-autobiography text-center preview-description">
                    @Model.Description
                </p>
                <div class="link-social">
                    <div class="item-link-social link-fb">
                        <i class="fa fa-facebook fa-1_3x text-center" aria-hidden="true"></i>
                        <p class="input-value-fb text-center">@Model.Socials[0]</p>
                    </div>
                    <div class="item-link-social link-tw">
                        <i class="fa fa-twitter fa-1_3x text-center" aria-hidden="true"></i>
                        <p class="input-value-tw text-center">@Model.Socials[1]</p>
                    </div>
                    <div class="item-link-social link-g">
                        <i class="fa fa-google-plus fa-1_3x text-center" aria-hidden="true"></i>
                        <p class="input-value-google text-center">@Model.Socials[2]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    
</script>

