@model Investor.Model.Post
<div class="sidebar-item-blog vertical">
    <img src="images/blog-img-1.png" alt="" class="rounded-circle align-top" />
    <div class="sidebar-item-blog-body align-top">
        <span class="author-blog">
            @Model.Author.Name
        </span>
        <h4 class="title-blog">
            @Model.Title
        </h4>

        <span class="today-item-news default-today-color">@Model.PublishedOn.Day"."@Model.PublishedOn.Month"."@Model.PublishedOn.Day  @Model.PublishedOn.Hour:@Model.PublishedOn.Minute</span>
    </div>
</div>
