@model Investor.Model.Views.SliderViewModel
@inject Investor.Service.TimeService PostPublicationDate

<section class="section-carousel">
    <div class="container">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide carousel-main" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="/post/@Model.SliderItems[0].Post.PostId">
                            <img class="d-block img-fluid" src="~/img/@(System.IO.Path.GetFileNameWithoutExtension(Model.SliderItems[0].Post.Image) + "/large-" + Model.SliderItems[0].Post.Image)" alt="First slide">
                        </a>
                        <div class="carousel-caption d-none d-sm-block">
                            <a href="#" class="text-left color-white">@Model.SliderItems[0].Post.Title</a>
                            <p class="text-left">@Model.SliderItems[0].Post.Description</p>
                        </div>
                    </div>
                    @for (int i = 1; i < Model.SliderItems.Count; i++)
                    {
                        <div class="carousel-item">
                            <div class="img-eclipse">
                                <a href="/post/@Model.SliderItems[i].Post.PostId">
                                    <img class="d-block img-fluid" src="~/img/@(System.IO.Path.GetFileNameWithoutExtension(Model.SliderItems[i].Post.Image) + "/large-" + Model.SliderItems[i].Post.Image)" alt="Second slide">
                                </a>
                                <div class="carousel-caption d-none d-sm-block">
                                    <a href="/post/@Model.SliderItems[i].Post.PostId" class="text-left color-white">@Model.SliderItems[i].Post.Title</a>
                                    <p class="text-left">@Model.SliderItems[i].Post.Description</p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i < Model.SliderItems.Count; i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                    }
                </ol>
            </div>
            <div class="wrapper-popular">
                @for (int i = 0; i < Model.SideItems.Count; i++)
                {
                    string publishedTime = PostPublicationDate.GetFormattedDate(Model.SliderItems[i].Post.PublishedOn);
                    @Html.Partial("_PopularPostPreviewTemplate", Model.SideItems[i].Post)
                }
            </div>
        </div>
    </div>
</section>
