@model Investor.Model.PostPreview
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@inject Investor.Service.Utils.UrlService UrlService

@{
    var publishedTime = PostPublicationDate.GetFormattedDate(Model.PublishedOn);
    var fullPostRelativePath = UrlService.GetPostRelativePath(Model);
    var imagePath = ImagePath.GetImagePath(Model.Image, Model.PostId, "medium-");
}

<div class="item-news col-md-6">
    <div class="img-news img-eclipse">
        <a href="@fullPostRelativePath">
            <img src="~/@imagePath" class="img-fluid" />
        </a>
    </div>
    <a href="@fullPostRelativePath" class="title-news">
        @Model.Title
    </a>
    <p class="text-news">
        @Model.Description
    </p>
    <span class="today-item-news @Model.Category.Url-today-color">@publishedTime</span>
</div>