@model Investor.Model.PostPreview
@inject Investor.Service.Utils.TimeService PostPublicationDate
@inject Investor.Service.Utils.Interfaces.IImagePathService ImagePath
@inject Investor.Service.Utils.UrlService UrlService

@{
    var index = (int)ViewBag.HomeCarouselCounter;
    var fullPostRelativePath = UrlService.GetPostRelativePath(Model);
    var imagePath = ImagePath.GetImagePath(Model.Image, Model.PostId, "large-");
}

<div class='carousel-item @(index == 0 ? "active" : "" )'>
    <a href="@fullPostRelativePath">
        <div class="img-eclipse">

            <img class="d-block img-fluid" src="~/@imagePath" alt="@index slide">

            <div class="carousel-caption d-none d-sm-block">
                <h3 href="@fullPostRelativePath" class="text-left color-white">@Model.Title</h3>
                <p class="text-left">@Model.Description</p>
            </div>
        </div>
    </a>
</div>
