@model Investor.Model.Blog
@using System.IO
@inject Investor.Service.ImagePathService ImagePath
<input type="hidden" value="@Model.PostId" name="PostId" />

<div class="page-content page-post">

    <div class="form-group form-md-line-input form-md-floating-label has-info">
        <input type="text" class="form-control @(String.IsNullOrEmpty(Model.Title) ? "" : "edited")" id="title" value="@Model.Title" name="Title" required="required">
        <label for="title">Назва</label>
    </div>

    <div class="form-group form-md-line-input form-md-floating-label has-info">
        <textarea class="form-control @(String.IsNullOrEmpty(Model.Description) ? "" : "edited")" id="description" name="Description" required="required">@Model.Description</textarea>
        <label for="description">Опис</label>
    </div>

    <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
            <img class="cropper" src="@("~/../../../../" + ImagePath.GetImagePath(Model.Image, "large", Model.Category.Url))" alt="" required="required" />
        </div>
        <div>
            <span class="btn red btn-outline btn-file">
                <span class="fileinput-new"> Вибрати світлину </span>
                <span class="fileinput-exists"> Змніити </span>
                <input type="file" name="Image" value="@("~/../../../../" + ImagePath.GetImagePath(Model.Image, "large", Model.Category.Url))">
            </span>
            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Видалити </a>
        </div>
    </div>


    <textarea class="text-editor" id="Article">@(Model.Article)</textarea>
</div>
