@model Investor.Model.Post
@using Investor.Model
<div class="sidebar-right">
    <button type="button" class="btn green-meadow" style="width: 100%">Перейти до поста</button>
    <button type="submit" class="btn blue-madison" style="width: 100%" form="updateForm" id="updateFormSubmit">Зберегти</button>
    <button type="button" class="btn grey-cascade" style="width: 100%">Відмінити</button>

    <div class="newpost-widget">
        <label class="newpost-widget-title ng-binding">Метки</label>


        <select class="bs-select form-control" tabindex="-98" name="Category">
            @for (int i = 0; i < ViewBag.Categories.Count; i++)
            {
                <option @(Model.Category.Name == ViewBag.Categories[i].Name ? "selected" : "") value="@ViewBag.Categories[i].Url">@ViewBag.Categories[i].Name</option>
            }
        </select>

    @{
        string tags = "";
        foreach (Tag tag in ViewBag.Tags)
        {
            tags += tag.Name + ",";

        }
    }
    </div>
    <div id="the-basics">
        <input id="tagTypeahead" class="typeahead" type="text" placeholder="States of USA " data-role="tagsinput" name="tagsName" value="@tags" />
    </div>
    <label class="mt-checkbox mt-checkbox-outline">
        Опубліковано
        <input type="checkbox" value="true" name="Published" @(Model.Published ? "checked" : "") />
        <span></span>
    </label>
    <label class="mt-checkbox mt-checkbox-outline">
        На головній сторінці
        <input type="checkbox" value="true" name="IsOnMainPage" @(Model.IsOnMainPage ? "checked" : "") />
        <span></span>
    </label>
    <label class="mt-checkbox mt-checkbox-outline">
        На боковій панелі слайдера
        <input type="checkbox" value="true" name="IsOnSide" @(ViewBag.IsOnSide ? "checked" : "") />
        <span></span>
    </label>
    <label class="mt-checkbox mt-checkbox-outline">
        На слайдері
        <input type="checkbox" value="true" name="IsOnSlider" @(ViewBag.IsOnSlider ? "checked" : "") />
        <span></span>
    </label>
    <label class="mt-checkbox mt-checkbox-outline color-white">
        Рекомендовано редакцією
        <input type="checkbox" value="true" name="IsImportant" @(Model.IsImportant ? "checked" : "") />
        <span></span>
    </label>
</div>