@using Investor.Model
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Investor</title>
    <meta property="og:url" content="http://www.your-domain.com/your-page.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Your Website Title" />
    <meta property="og:description" content="Your description" />
    <meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />
    <link rel="canonical" href="/web/tweet-button">
    <link rel="me" href="https://twitter.com/twitterdev">
</head>

<section class="card-news">
    <div class="container">
        <div class="row">
            <p>@ViewBag.IP</p>
            <div class="col-lg-8 p-sm-0 pr-lg-2">
                @Html.Partial("_PostTemplate", ViewBag.Post as News)
            </div>
            <div class="col-lg-4 pl-lg-2  p-0 pr-0">

                @Html.Partial("_PopularPostTagsTemplate", ViewBag.PopularTags as IEnumerable<Tag>)
                @Html.Partial("_LastNewsPreviewTemplate", ViewBag.LatestPosts as IEnumerable<PostPreview>)
            </div>
            <div class="col-sm-12 p-0 mt-3">
                <span class="title-block d-block title-block-border-b pb-2 mb-3">Популярне по темі</span>
                <div class="slick-carousel carousel-popular-theme">
                    @Html.Partial("_SliderPostsTemplate", ViewBag.LatestPosts as IEnumerable<PostPreview>)
                </div>
                <span class="paging-info paging-popular-theme"></span>
            </div>
            <div class="col-sm-12 p-0 mt-3">
                <span class="title-block d-block title-block-border-b pb-2 mb-3">Вибір редакції</span>
                <div class="slick-carousel carousel-editorial-choice">
                    @Html.Partial("_SliderPostsTemplate", ViewBag.ImportantPosts as IEnumerable<PostPreview>)
                </div>
                <span class="paging-info paging-editorial-choice"></span>
            </div>
        </div>
    </div>
</section>

<div id="fb-root"></div>
